.element__like {
  max-width: 22px;
  opacity: 100%;
  transition: opacity .3s ease-in-out;
}

.element__like:hover {
  opacity: 50%;
  transform: scale(1.25);
  transition: all .7s ease-out;
  cursor: pointer;
}