.profile__edit-button {
  border: 1px solid #FFFFFF;
  width: 10px;
  height: 10px;
  padding: 7px;
  opacity: 100%;
  transition: opacity .3s ease-in-out;
}
  
.profil__edit-button:hover {
  opacity: 50%;
  transition: opacity .7s ease-in-out;
  cursor: pointer;
}
  
@media screen and (max-width: 465px) {
  .profile__edit-button {
      width: 7.5px;
      height: 7.5px;
      padding: 5.25px;
  }
}